<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Paystack</servlet-name>
        <servlet-class>JN.Paystack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Judge</servlet-name>
        <servlet-class>Check.Judge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>Redirect.redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientAccount</servlet-name>
        <servlet-class>ClientAccount.ClientAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>Check.Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOut</servlet-name>
        <servlet-class>getOut.getOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>EditProfile.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Move</servlet-name>
        <servlet-class>Move.Move</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLawyer</servlet-name>
        <servlet-class>GetLawyer.GetLawyer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post</servlet-name>
        <servlet-class>Post.post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>Comment.comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAPI</servlet-name>
        <servlet-class>Post.InsertAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCasesAgain</servlet-name>
        <servlet-class>JN.getCasesAgain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Paystack</servlet-name>
        <url-pattern>/Paystack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Judge</servlet-name>
        <url-pattern>/Judge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientAccount</servlet-name>
        <url-pattern>/ClientAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOut</servlet-name>
        <url-pattern>/Out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Move</servlet-name>
        <url-pattern>/Move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLawyer</servlet-name>
        <url-pattern>/GetLawyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAPI</servlet-name>
        <url-pattern>/InsertAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCasesAgain</servlet-name>
        <url-pattern>/Re-Judge-Again</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
